<div class="contenedor">
  <section class="header">
    <div class="titles">
      <h1 class="title">HN FEED</h1>
      <h3 class="subtitle">We 3 hackers news!</h3>
    </div>
  </section>
  <div class="news">
    <app-news></app-news>
    <router-outlet></router-outlet>
  </div>
</div>