
section.header{
    background-color: #333;
    width: 100%;
    height: 215px ;
    display: flex;
    align-items: center; 

  
}

.titles{   
    padding-left: 25px;

}

h1, h3 {
    color: white;
    font-family: sans-serif;
}

h1.title{   
    font-size: 35pt;  
    line-height: 2em;
}

h3.subtitle{
    font-size: 12pt;  
   
}



