<section class="container">
    <table class="styled-table">
        <tbody>

            <tr *ngFor="let post of news">
                <div *ngIf="post.story_title || post.title">
                    <td class="title" (click)="detail(post.story_url)">
                        <p *ngIf="post.story_title"> {{post.story_title}} <span class="author"> - {{post.author}} </span></p>
                        <p *ngIf="post.title && !post.story_title"> {{post.title}}  <span class="author"> - {{post.author}}  </span></p>
                    </td>
                    <td>{{post.created_at | date: 'h:mm a'}}</td>
                    <td class="delete" (click)="delete(post._id)"><fa-icon [icon]="faTrashAlt"></fa-icon></td>
                </div>
            </tr>

        </tbody>
    </table>
</section>