.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.styled-table {
    border-collapse: collapse;
    font-size: 13pt;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    color: #333333;
}



.styled-table th,
.styled-table td {
    padding: 12px 15px;
    width:  100%;
}

.author {
    color: #999;
}

.styled-table tbody tr:hover {
    background-color: #fafafa;

}


.styled-table tbody tr {
    border-bottom: 1pt solid #ccc;

}

td {

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }


 .title,  .delete{
      cursor: pointer;
  }


